---
import LoginPage from './LoginPage.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Welcome to Astro.">
	<main class=" mx-auto bg-gray-50">
	<LoginPage />
	</main>
</Layout>


