<h2 class="text-2xl font-bold px-4 ">Categorias ✅</h2>
<div x-data="{ selected: null , isSticky: false }" x-init="
window.addEventListener('scroll', () => {
    isSticky = window.scrollY > 500;
});
" :class="isSticky ? 'bg-gray-50 shadow-md' : ''" class="sticky top-0 z-50 font-semibold flex gap-3 px-4 py-4 mt-2 overflow-x-scroll no-scrollbar">
    <button 
        @click="selected = 1" 
        :class="selected === 1 ? 'bg-orange-500 text-white' : 'bg-white text-gray-700 border border-gray-300'" 
        class="flex items-center justify-center px-4 py-2 rounded-md whitespace-nowrap"
    >
        Burger
    </button>
    <button 
        @click="selected = 2" 
        :class="selected === 2 ? 'bg-orange-500 text-white' : 'bg-white text-gray-700 border border-gray-300'" 
        class="flex items-center justify-center px-4 py-2 rounded-md whitespace-nowrap"
    >
        Sandwich
    </button>
    <button 
        @click="selected = 3" 
        :class="selected === 3 ? 'bg-orange-500 text-white' : 'bg-white text-gray-700 border border-gray-300'" 
        class="flex items-center justify-center px-4 py-2 rounded-md whitespace-nowrap"
    >
        Pizza
    </button>
    <button 
        @click="selected = 4" 
        :class="selected === 4 ? 'bg-orange-500 text-white' : 'bg-white text-gray-700 border border-gray-300'" 
        class="flex items-center justify-center px-4 py-2 rounded-md whitespace-nowrap"
    >
        Sandwich
    </button>
</div>
