<section class="text-gray-700 font-bold mt-8">
  <h2 class="text-2xl font-bold px-4 ">Mais Pedidos 🌟</h2>
  <div class="flex px-4 py-4 gap-4 overflow-x-scroll no-scrollbar">
    <!-- Card 1 -->
    <div class="w-48  flex-shrink-0 rounded-lg shadow-lg overflow-hidden bg-white">
      <img class="w-full h-36 object-cover" src="https://www.minhareceita.com.br/app/uploads/2021/02/shutterstock_1490753552-scaled.jpg" alt="Produto 1">
      <div class="p-2 text-gray-700">
        <h3 class="text-base font-semibold">Produto 1</h3>
        <p class="text-gray-500 text-xs">Descrição do produto 1.</p>
        <p class="mt-2 text-orange-500 font-bold">R$ 19,99</p>
        <button class="mt-2 bg-orange-500 text-white px-4 py-2 rounded-md text-sm w-full">Comprar</button>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="w-48  flex-shrink-0 rounded-lg shadow-lg overflow-hidden bg-white">
      <img class="w-full h-36 object-cover" src="https://via.placeholder.com/300" alt="Produto 2">
      <div class="p-2 text-gray-700">
        <h3 class="text-base font-semibold">Produto 2</h3>
        <p class="text-gray-500 text-xs">Descrição do produto 2.</p>
        <p class="mt-2 text-orange-500 font-bold">R$ 29,99</p>
        <button class="mt-2 bg-orange-500 text-white px-4 py-1 rounded-md text-sm w-full">Comprar</button>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="w-48  flex-shrink-0 rounded-lg shadow-lg overflow-hidden bg-white">
      <img class="w-full h-36 object-cover" src="https://via.placeholder.com/300" alt="Produto 3">
      <div class="p-2 text-gray-700">
        <h3 class="text-base font-semibold">Produto 3</h3>
        <p class="text-gray-500 text-xs">Descrição do produto 3.</p>
        <p class="mt-2 text-orange-500 font-bold">R$ 39,99</p>
        <button class="mt-2 bg-orange-500 text-white px-4 py-1 rounded-md text-sm w-full">Comprar</button>
      </div>
    </div>
    <!-- Adicione mais cards conforme necessário -->
  </div>
</section>
