---
import PlusIcon from '../../public/icons/PlusIcon.astro';
---

<section class="text-gray-700 font-bold mt-8">
    <h2 class="text-2xl font-bold px-4 mb-4">Produtos Disponíveis 🛒</h2>
    <div class="grid sm:grid-cols-2 gap-4 px-4">
        <!-- Produto 1 -->
        <div class=" gap-4 p-2 flex items-center border rounded-lg shadow-lg overflow-hidden">
            <img class="w-32 h-32  rounded-lg  object-cover" src="https://www.minhareceita.com.br/app/uploads/2021/02/shutterstock_1490753552-scaled.jpg" alt="Produto 1">
            <div class=" pr-2 flex-1">
                <h3 class="text-lg font-semibold">Produto 1</h3>
                <p class="text-gray-500 text-sm">Descrição breve do produto 1.</p>
                <div class="flex items-center justify-between mt-4">
                    <p class="text-orange-500 font-bold text-lg">R$ 19,99</p>
                    <button class="bg-orange-500 text-xl text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <PlusIcon />
                    </button>
                </div>
            </div>
        </div>
        <!-- Produto 2 -->
        <div class="gap-4 p-2 flex items-center border rounded-lg shadow-lg overflow-hidden">
            <img class="w-32 h-32 rounded-lg  object-cover" src="https://www.minhareceita.com.br/app/uploads/2021/02/shutterstock_1490753552-scaled.jpg" alt="Produto 2">
            <div class="pr-2 flex-1">
                <h3 class="text-lg font-semibold">Produto 2</h3>
                <p class="text-gray-500 text-sm">Descrição breve do produto 2.</p>
                <div class="flex items-center justify-between mt-2">
                    <p class="text-orange-500 font-bold text-lg ">R$ 29,99</p>
                    <button class="bg-orange-500 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <PlusIcon />
                    </button>
                </div>
            </div>
        </div>
        <!-- Produto 3 -->
        <div class="gap-4 p-2 flex items-center border rounded-lg shadow-lg overflow-hidden">
            <img class="w-32 h-32 rounded-lg  object-cover" src="https://www.minhareceita.com.br/app/uploads/2021/02/shutterstock_1490753552-scaled.jpg" alt="Produto 3">
            <div class="pr-2 flex-1">
                <h3 class="text-lg font-semibold">Produto 3</h3>
                <p class="text-gray-500 text-sm">Descrição breve do produto 3.</p>
                <div class="flex items-center justify-between mt-2">
                    <p class="text-orange-500 font-bold text-lg ">R$ 39,99</p>
                    <button class="bg-orange-500 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <PlusIcon />
                    </button>
                </div>
            </div>
        </div>
        <!-- Produto 4 -->
        <div class="gap-4 p-2 flex items-center border rounded-lg shadow-lg overflow-hidden">
            <img class="w-32 h-32 rounded-lg  object-cover" src="https://www.minhareceita.com.br/app/uploads/2021/02/shutterstock_1490753552-scaled.jpg" alt="Produto 4">
            <div class="pr-2 flex-1">
                <h3 class="text-lg font-semibold">Produto 4</h3>
                <p class="text-gray-500 text-sm">Descrição breve do produto 4.</p>
                <div class="flex items-center justify-between mt-2">
                    <p class="text-orange-500 font-bold text-lg ">R$ 49,99</p>
                    <button class="bg-orange-500 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <PlusIcon />
                    </button>
                </div>
            </div>
        </div>
        <!-- Adicione mais produtos conforme necessário -->
    </div>
</section>
